git+https://github.com/Rapptz/discord.py
aiohttp==3.8.1
motor==2.5.1
jishaku==2.3.2
easy_pil==0.1.5
dnspython==2.2.0
aiopyston==1.2.1
googletrans==4.0.0rc1
simpleeval==0.9.12
asyncpraw==7.5.0
pynacl==1.5.0
